CORE_API_HOST=127.0.0.1
CORE_API_PORT=4100
CORE_API_DB_PATH=./data/core-api.sqlite
MCP_GATEWAY_HOST=127.0.0.1
MCP_GATEWAY_PORT=4200
VITE_CORE_API_BASE_URL=http://127.0.0.1:4100
VITE_MCP_GATEWAY_BASE_URL=http://127.0.0.1:4200
MCP_CORE_API_BASE_URL=http://127.0.0.1:4100
